html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Open-sans, sans-serif;
  font-size: 14px;
  text-align: left;
  background-image: url("../img/bg.jpg");
}

.page{
	padding: 10px;
}

#description{
	height: 100%;
}



