html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Open-sans, sans-serif;
  font-size: 14px;
}

p {
 	font-size: 14px;	
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.page{
	padding: 10px;
}

#description{
	height: 100%;
}

.signInBtn{
	text-align: center;
}


#map {
  height: 100%;
  width: 100%;
}


#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}
#flex {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	margin-bottom: 20px;
}

#navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  text-align: center;
  z-index: 999;
}

#page3 {
  height: 100%;
}

/* Make the list of links take up the whole width of the nav */