html, body {
  background: url("../img/Bubbles copy.jpg") no-repeat center center fixed transparent;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Open-sans, sans-serif;
  font-size: 14px;
  color: black;
}

p {
 	font-size: 14px;	
    color: black;
}

.page{
	padding: 10px;
}

#description{
	height: 100%;
}

.signInBtn{
	text-align: center;
}


#map,
#map_p6 {
  height: 300px;
  width: 100%;
}


#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#flex {
	display: flex;
  align-items: center;
  justify-content: center;
}

.row {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	margin-bottom: 20px;
  background-color: white;
}

#navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  text-align: center;
  z-index: 999;
}

#page3,
#page4 {
  height: 100%;
}

.container {
  margin-bottom: 75px;
}

#navbar {
  display: none;
}
.containerDiv{
  border-radius: 5px;
  background:rgba(255, 255, 255, 0.7);
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px; 
  margin-top:10px;
  
}
