html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Open-sans, sans-serif;
  font-size: 14px;
  text-align: center;  
}

#description{
	height: 100%;
}

.btn{
  background-color: #bb010e !important;
}


